.navbar {
    background-color: #282c34;
    padding: 20px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo {
    color: #61dafb;
    font-size: 24px;
    text-decoration: none;
}

.navbarMenu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbarItem a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbarItem a:hover {
    color: #61dafb;
}
